

<form method="post" asp-action="PasswordChange01">
    <div class="mb-3 mt-3">
    <label for="text" class="form-label">Aktuální heslo:</label>
    <input type="password" class="form-control" id="email" placeholder="aktuální heslo" name="cPassword">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Nové heslo:</label>
    <input type="password" class="form-control" id="pwd" placeholder="nové heslo" name="nPassword">
  </div>
  <button type="submit" class="btn btn-primary">Odeslat</button>
</form>
